body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #06141def;
  color: white;
}

h1 {
  text-align: center;
}

.board {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  cursor: pointer;
  position: relative;
}

.tile {
  color: #f1fb3af1;
  font-size: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.right-border {
  border-right: 0.15em solid #f1fb3abd;
}

.bottom-border {
  border-bottom: 0.15em solid #f1fb3abd;
}

.x-hover:hover::after {
  content: "X";
  opacity: 0.2;
}

.o-hover:hover::after {
  content: "O";
  opacity: 0.2;
}

.strike {
  position: absolute;
  background-color: rgb(255, 51, 0);
  /* border-bottom: 0.15em solid darkorange; */
}

.strike-row-1 {
  width: 100%;
  height: 4px;
  top: 15%;
}
.strike-row-2 {
  width: 100%;
  height: 4px;
  top: 48%;
}
.strike-row-3 {
  width: 100%;
  height: 4px;
  top: 83%;
}
.strike-column-1 {
  height: 100%;
  width: 4px;
  left: 15%;
}
.strike-column-2 {
  height: 100%;
  width: 4px;
  left: 48%;
}
.strike-column-3 {
  height: 100%;
  width: 4px;
  left: 83%;
}
.strike-diagonal-1 {
  width: 90%;
  height: 4px;
  top: 48%;
  left: 5%;
  transform: skewY(45deg);
  border-bottom: 0.25em solid rgb(255, 51, 0);
}
.strike-diagonal-2 {
  width: 90%;
  height: 4px;
  top: 48%;
  left: 5%;
  transform: skewY(-45deg);
  border-bottom: 0.25em solid rgb(255, 51, 0);
}

.game-over {
  text-align: center;
  border: #a9abaaac 4px;
  border-style: ridge;
  padding: 1px;
  margin-top: 15px;
  font-size: 1.5em;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

/* .playagain-button {
  margin-top: 50px;
  padding: 20px;
  background-color: #0074a6;
  color: white;
  width: 100%;
  font-size: 1.5em;
} */

.playagain-button {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-size: 1.5em;
  padding: 10px;
  margin-top: 20px;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
  /* margin-left: auto;
  margin-right: auto; */
}

.playagain-button:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-playagain-button 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-playagain-button {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.playagain-button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}
